<!-- your html code here -->
<div class="bg-white justify-content-center" style="height: 500px;">
    <div class="mx-5">
        <h1>Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur suscipit eros, non congue enim
            ullamcorper
            quis. Nullam lobortis aliquam urna non dictum. Duis tempor, sem at volutpat accumsan, orci.</p>
    </div>
    <div class="d-flex container justify-content-center mx-5">
        <div class="bg-secondary container" style="width: 70%; height: 250px;">
            <div class="row mx-3 my-3">
                <div class="col">

                  </div>
                <div class="col">
                  Your Email
                </div>
                <div class="col-8">
                    <input  class="form-control" >
                </div>
              </div>
              <div class="row mx-3 my-3">
                <div class="col">

                  </div>
                <div class="col-2">
                  Your Message
                </div>
                <div class="col-8" >
                    <input  class="form-control" style="height: 100px;">
                </div>
              </div>
              <div class="container-fluid d-flex justify-content-end">
                  <button class="btn-primary "> Submit</button>
              </div>
          
        </div>
    </div>





</div>