<!-- your html code here -->
<div class="bg-white" style="height: 75px;">
</div>
<div class="bg-white d-flex justify-content-center" style="height: 500px;">
  <div class="d-flex container"">
        
        <div class="">
          <h5 class="" style=" font-size: 40px;">The First Heading <b class="text-muted">Will Catch Your Eye</b></h5>
    <p class="" style=" font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel nisl eleifend libero commodo
      auctor rhoncus ut erat. Vivamus id mollis mauris. Maecenas ornare eleifend tincidunt. Maecenas lacinia felis nibh,
      quis volutpat turpis luctus vitae. Duis sed suscipit lorem, sed porta lectus. Suspendisse luctus, mauris non
      pretium efficitur, ipsum magna.</p>
  </div>
  <img src=" ./assets/img/1.jpg" alt="..." style="width:400px;height:400px;border-radius:200px;">
</div>



</div>


